<footer class="mt-8">
    <section class="p-10 flex items-start justify-between gap-8 max-md:flex-col max-md:items-center">
        <div class="left max-md:text-center">
            <a href="/" class="inline-block">
                <img src="/full_logo.svg" alt="lavis's full logo" class="h-10 object-cover invert">
            </a>
            <p class="text-center">
                Your solution to personalized tutorship
            </p>
        </div>
        <div class="right flex items-start justify-center gap-10 max-md:gap-12">
            <nav>
                <p>learning</p>
                <a href="/tutors">begin learning</a>
                <a href="/tutors">prepare for exam</a>
                <a href="/">how it works</a>
            </nav>
            <nav>
                <p>company</p>
                <a href="/about">about us</a>
                <a href="/contact">contact us</a>
            </nav>
        </div>
    </section>

    <div class="floor-container py-3.5 mt-5">
        <p class="text-center text-[80%]">
            <span>&copy;</span>
            Lavi.
            <span class="capitalize ml-3">All Rights Reserved.</span>
        </p>
    </div>
</footer>