<app-page-nav-bar />

<section class="heros py-20 px-5 min-h-[120dvh]">
    <article class="w-3/4 max-sm:w-full mx-auto mb-5 text-center lavi-flex flex-col justify-center">
        <h1 class="capitalize">Personalized tutoring, your way</h1>
        <p class="px-10 max-md:px-5 max-sm:px-2 w-3/4 max-md:w-4/5 max-sm:w-full text-[120%]">We help secondary school students unlock their full potential - at home or
            online, exam year or not.</p>
    </article>
    <div class="ctas flex max-md:flex-col max-md:items-center items-start gap-3.5 w-fit mx-auto">
        <section class="card glassy-blur">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512">
                    <rect width="512" height="512" fill="none" />
                    <path fill="currentColor"
                        d="M440 368a24.03 24.03 0 0 0 24-24V104a24.03 24.03 0 0 0-24-24H72a24.03 24.03 0 0 0-24 24v240a24.03 24.03 0 0 0 24 24ZM80 112h352v224H80ZM16 400h480v32H16z" />
                </svg>
            </div>
            <h3>online tutoring</h3>
            <p>Flexible, convenient tutoring sessions from anywhere.
            </p>
            <a class="lavi-button accent" href="/tutors">find an online tutor</a>
        </section>
        <section class="card glassy-blur">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                    <rect width="24" height="24" fill="none" />
                    <path fill="currentColor" fill-rule="evenodd"
                        d="M13.558 5.534a2.25 2.25 0 0 0-3.116 0l-4.626 4.44a.75.75 0 0 0-.218.405a27.3 27.3 0 0 0-.121 9.15l.112.721h2.977v-6.211a.75.75 0 0 1 .75-.75h5.368a.75.75 0 0 1 .75.75v6.211h2.977l.112-.72a27.3 27.3 0 0 0-.12-9.151a.75.75 0 0 0-.219-.405zM9.404 4.452a3.75 3.75 0 0 1 5.192 0l4.627 4.44c.34.326.57.752.655 1.216a28.9 28.9 0 0 1 .127 9.653l-.18 1.157a.98.98 0 0 1-.972.832h-4.169a.75.75 0 0 1-.75-.75v-6.211h-3.868V21a.75.75 0 0 1-.75.75H5.147a.98.98 0 0 1-.972-.832l-.18-1.157a28.9 28.9 0 0 1 .127-9.653c.085-.464.315-.89.655-1.217z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <h3>Home tutoring</h3>
            <p>Personalized and in-person tutoring delivered to your doorstep.</p>
            <a class="lavi-button accent" href="/tutors">find a home tutor</a>
        </section>
    </div>
</section>

<section class="py-15 px-5 flex flex-col items-center">
    <article class="text-center">
        <h2>Your path to exam success</h2>
        <p class="text-[110%]">We provide personalized tutoring to help you succeed in your exams.</p>
    </article>
    <section class="lavi-flex justify-evenly gap-5 my-10 px-5 max-md:flex-col">
        <div class="card">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32">
                    <rect width="32" height="32" fill="none" />
                    <path fill="currentColor"
                        d="M10.28 5.28L7 8.563l-1.28-1.28L4.28 8.72l2 2l.72.686l.72-.687l4-4zM15 7v2h13V7zm-4.72 6.28L7 16.564L5.72 15.28l-1.44 1.44l2 2l.72.686l.72-.687l4-4l-1.44-1.44zM15 15v2h13v-2zm-4.72 6.28L7 24.563l-1.28-1.28l-1.44 1.437l2 2l.72.686l.72-.687l4-4l-1.44-1.44zM15 23v2h13v-2z" />
                </svg>
            </div>
            <h3>personalized study plans</h3>
            <p>Get personalized study plans tailored to your learning style and goals—so you can study smarter and
                achieve exam success.</p>
        </div>
        <div class="card">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512">
                    <rect width="512" height="512" fill="none" />
                    <path fill="currentColor"
                        d="m368 350.643l-112 63l-112-63v-66.562l-32-17.778v103.054l144 81l144-81V266.303l-32 17.778z" />
                    <path fill="currentColor"
                        d="M256 45.977L32 162.125v27.734L256 314.3l192-106.663V296h32V162.125Zm160 142.831l-32 17.777L256 277.7l-128-71.115l-32-17.777l-22.179-12.322L256 82.023l182.179 94.463Z" />
                </svg>
            </div>
            <h3>Experienced tutors</h3>
            <p>Learn from experienced tutors who are carefully vetted, passionate, and committed to helping you reach
                your academic goals.</p>
        </div>
        <div class="card">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 1024 1024">
                    <rect width="1024" height="1024" fill="none" />
                    <path fill="currentColor"
                        d="m917 211.1l-199.2 24c-6.6.8-9.4 8.9-4.7 13.6l59.3 59.3l-226 226l-101.8-101.7c-6.3-6.3-16.4-6.2-22.6 0L100.3 754.1a8.03 8.03 0 0 0 0 11.3l45 45.2c3.1 3.1 8.2 3.1 11.3 0L433.3 534L535 635.7c6.3 6.2 16.4 6.2 22.6 0L829 364.5l59.3 59.3a8.01 8.01 0 0 0 13.6-4.7l24-199.2c.7-5.1-3.7-9.5-8.9-8.8" />
                </svg>
            </div>
            <h3>proven results</h3>
            <p>Join the 95% of our students who improve their grades and get accepted into their top-choice universities
            </p>
        </div>
    </section>
    <button 
        class="lavi-button secondary w-fit mx-auto"
        (click)="navigateToPage('tutors')">find a tutor</button>
</section>

<div class="gradient-bg h-[30dvh]"></div>

<section class="py-15 px-5 bg-primary-gradient overflow-x-hidden">
    <div class="pinned-container" #testimonialsSection>
        <h2 class="capitalize">what parents & students say</h2>
        <p class="text-[110%]">Hear from our students and parents about their experience with our tutoring services.</p>
        <div class="testimonials flex justify-evenly gap-5 my-10" #testimonialsContainer>
            @for (testimonial of testimonials; track $index) {
            <div class="testimonial glassy-blur">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16">
                    <rect width="16" height="16" fill="none" />
                    <path fill="currentColor" fill-rule="evenodd"
                        d="M7.16 3.5C4.73 5.06 3.55 6.67 3.55 9.36c.16-.05.3-.05.44-.05c1.27 0 2.5.86 2.5 2.41c0 1.61-1.03 2.61-2.5 2.61c-1.9 0-2.99-1.52-2.99-4.25c0-3.8 1.75-6.53 5.02-8.42zm7 0c-2.43 1.56-3.61 3.17-3.61 5.86c.16-.05.3-.05.44-.05c1.27 0 2.5.86 2.5 2.41c0 1.61-1.03 2.61-2.5 2.61c-1.89 0-2.98-1.52-2.98-4.25c0-3.8 1.75-6.53 5.02-8.42l1.14 1.84z"
                        clip-rule="evenodd" />
                </svg>
                <p class="quote">"{{ testimonial.quote }}"</p>
                <h4>{{ testimonial.name }}</h4>
                <p>{{ testimonial.role }}</p>
            </div>
            }
        </div>
    </div>
</section>

<div class="bg-primary-gradient flipped h-[20dvh]"></div>
<div class="gradient-bg flipped h-[30dvh]"></div>

<div class="p-5 pt-10">
    <section class="mb-30">
        <article class="text-center">
            <h2 class="text-[110%]">How you go about it?</h2>
            <p>It takes just a few clicks to find the perfect tutor and start improving your grades.</p>
        </article>
        <section class="steps-container my-5 px-5 flex max-md:flex-col justify-start gap-5">
            <article class="step">
                <h3>find your tutor</h3>
                <p>Search for tutors by subject, availability, and location.</p>
            </article>
            <article class="step">
                <h3>book a lesson</h3>
                <p>Schedule your first at-home or online lesson with your tutor.</p>
            </article>
            <article class="step">
                <h3>start learning</h3>
                <p>Begin your personalized learning journey and watch your scores improve.</p>
            </article>
        </section>
    </section>
    <section class="image-gradient rounded-2xl">
        <div class="mild-blur py-10 rounded-2xl">
            <article class="text-center">
                <h2>Ready to get started?</h2>
                <p class="text-[110%]">Join our community of successful students and parents today.</p>
            </article>
            <div class="lavi-flex justify-center my-10">
                <button 
                    class="lavi-button secondary white"
                    (click)="navigateToPage('tutors')">start learning</button>
            </div>
        </div>
    </section>
</div>