<app-page-nav-bar />

<section class="heros py-20">
    <article class="px-5 mx-auto">
        <h1 class="capitalize text-center">find your perfect learning tutor</h1>
        <p class="text-[110%] text-center">
            Tell us about your learning needs and, we'll connect you with the perfect Lavi tutor. Our expert team
            ensures
            the highest quality of teaching for your success.
        </p>
    </article>
    <section class="px-5 my-10">
        <h2 class="capitalize color-primary">tell us what you need</h2>
        <form>
            <div class="row flex gap-3 items-start max-[510px]:flex-col">
                <div class="field flex-[1]">
                    <label for="exam-learning-mode">your preferrred learning mode</label>
                    <div class="flex gap-3" id="exam-learning-mode">
                        <button type="button" class="radio-fills-entire-space" (click)="setLearningMode(0)">
                            <input type="radio" name="exam-learning-mode" id="">
                            <span>online</span>
                        </button>
                        <button type="button" class="radio-fills-entire-space" (click)="setLearningMode(1)">
                            <input type="radio" name="exam-learning-mode" id="">
                            <span>In-Person</span>
                        </button>
                    </div>
                </div>
                <div class="field flex-[1]">
                    <label for="exam-preparation">Are you preparing for an exam?</label>
                    <div class="flex gap-3">
                        <button type="button" class="radio-fills-entire-space" (click)="setExamPreparation('yes')">
                            <input type="radio" name="exam-preparation" id="">
                            <span>Yes</span>
                        </button>
                        <button type="button" class="radio-fills-entire-space" (click)="setExamPreparation('no')">
                            <input type="radio" name="exam-preparation" id="">
                            <span>No</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row flex gap-3 items-start max-[510px]:flex-col">
                <div class="field flex-[1] max-[510px]:w-full">
                    <label for="subject">Subject</label>
                    <input type="text" id="subject" name="subject" placeholder="e.g. Mathematics, English" class="max-[510px]:block" />
                </div>
                <div class="field flex-[1] max-[510px]:w-full">
                    <label for="level">Level</label>
                    <select name="level" id="level" [(ngModel)]="selectedLevel" class="w-full">
                        @for (level of levels; track $index) {
                        <option 
                            [value]="level.value"
                            class="py-3">{{level.viewValue}}</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <label for="learning-goals">learning goals</label>
                <textarea id="learning-goals" name="learning-goals" class="w-full"
                    placeholder="e.g. Improve grades, prepare for a specific exam, learn a new skill"></textarea>
            </div>
            <button class="lavi-button">Get to me!</button>
        </form>
    </section>
</section>